/* Start Globale Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body {
    font-family: "Work Sans", sans-serif;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Devices */

@media (min-width:768px) {

    .container {
        width: 750px;
    }
}

/* Medium Devices */
@media (min-width:992px) {

    .container {
        width: 970px;
    }

}

/* Large Devices  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globale Rules   */

/* Start Header Section  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    background-color: #f6f6f6;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    padding: 0;
    margin: 0;
    display: none;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* End Header Section  */